/* ============================================= */
/*              COLORS                           */
/* ============================================= */

$sky-blue:#58e1c1;
$light-grey:#777;
$ligher-grey:#ccc;
$orangish:#fd7856;
$darker-blue:#51ddfc;

//---------------BREAKPOINT-----------------------

$breakpoint: 768px;